---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query ExternalRepositoryReview__Importer__SEARCH_REPOSITORY_META_QUERY($query:
        String!, $limit: Int!, $after: String) {\n  search(query: $query, type: REPOSITORY,
        first: $limit, after: $after) {\n    pageInfo {\n      startCursor\n      endCursor\n      hasNextPage\n      hasPreviousPage\n    }\n    edges
        {\n      node {\n        __typename\n        ... on Repository {\n          nameWithOwner\n          homepageUrl\n        }\n      }\n    }\n  }\n}","variables":{"query":"stars:>100
        sort:stars thoughtbot","limit":2,"after":null},"operationName":"ExternalRepositoryReview__Importer__SEARCH_REPOSITORY_META_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_PERSONAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1603455463'
      X-Ratelimit-Used:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"search":{"pageInfo":{"startCursor":"Y3Vyc29yOjE=","endCursor":"Y3Vyc29yOjI=","hasNextPage":true,"hasPreviousPage":false},"edges":[{"node":{"__typename":"Repository","nameWithOwner":"thoughtbot/factory_bot","homepageUrl":"https://thoughtbot.com"}},{"node":{"__typename":"Repository","nameWithOwner":"thoughtbot/clearance","homepageUrl":"https://thoughtbot.com"}}]}}}'
  recorded_at: Fri, 23 Oct 2020 11:27:39 GMT
[...]
