---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query Repository__Synchronizer__REPOSITORY_META_QUERY($owner:
        String!, $name: String!) {\n  repository(owner: $owner, name: $name) {\n    description\n    createdAt\n    homepageUrl\n    stargazers
        {\n      totalCount\n    }\n    watchers {\n      totalCount\n    }\n    issues
        {\n      totalCount\n    }\n    languages(first: 50) {\n      nodes {\n        name\n      }\n    }\n    ref(qualifiedName:
        \"master\") {\n      target {\n        __typename\n        ... on Commit {\n          history(first:
        100) {\n            edges {\n              node {\n                committedDate\n              }\n            }\n          }\n        }\n      }\n    }\n    licenseInfo
        {\n      name\n    }\n  }\n}","variables":{"owner":"github","name":"graphql-client"},"operationName":"Repository__Synchronizer__REPOSITORY_META_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_PERSONAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1611919994'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"description":"A Ruby library for declaring,
        composing and executing GraphQL queries","createdAt":"2016-08-03T18:51:26Z","homepageUrl":"","stargazers":{"totalCount":952},"watchers":{"totalCount":152},"issues":{"totalCount":123},"languages":{"nodes":[{"name":"Ruby"},{"name":"HTML"}]},"ref":{"target":{"__typename":"Commit","history":{"edges":[{"node":{"committedDate":"2020-10-26T22:27:36Z"}},{"node":{"committedDate":"2020-08-05T22:52:32Z"}},{"node":{"committedDate":"2020-08-05T22:47:14Z"}},{"node":{"committedDate":"2020-08-05T22:47:14Z"}},{"node":{"committedDate":"2020-08-05T22:47:14Z"}},{"node":{"committedDate":"2020-08-05T22:47:14Z"}},{"node":{"committedDate":"2020-08-05T22:47:14Z"}},{"node":{"committedDate":"2020-08-05T22:47:14Z"}},{"node":{"committedDate":"2020-08-05T22:47:14Z"}},{"node":{"committedDate":"2020-08-05T22:47:14Z"}},{"node":{"committedDate":[...]
