---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query Repository__Synchronizer__REPOSITORY_META_QUERY($owner:
        String!, $name: String!) {\n  repository(owner: $owner, name: $name) {\n    description\n    createdAt\n    homepageUrl\n    stargazers
        {\n      totalCount\n    }\n    watchers {\n      totalCount\n    }\n    issues
        {\n      totalCount\n    }\n    languages(first: 50) {\n      nodes {\n        name\n      }\n    }\n    ref(qualifiedName:
        \"master\") {\n      target {\n        __typename\n        ... on Commit {\n          history(first:
        25) {\n            edges {\n              node {\n                committedDate\n              }\n            }\n          }\n        }\n      }\n    }\n    licenseInfo
        {\n      name\n    }\n  }\n}","variables":{"owner":"github","name":"graphql-client"},"operationName":"Repository__Synchronizer__REPOSITORY_META_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_PERSONAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1559162028'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"description":"A Ruby library for declaring,
        composing and executing GraphQL queries","createdAt":"2016-08-03T18:51:26Z","homepageUrl":"","stargazers":{"totalCount":741},"watchers":{"totalCount":51},"issues":{"totalCount":96},"languages":{"nodes":[{"name":"Ruby"},{"name":"HTML"}]},"ref":{"target":{"__typename":"Commit","history":{"edges":[{"node":{"committedDate":"2019-05-29T18:59:47Z"}},{"node":{"committedDate":"2019-05-29T18:24:24Z"}},{"node":{"committedDate":"2019-05-29T17:26:22Z"}},{"node":{"committedDate":"2019-05-29T16:58:34Z"}},{"node":{"committedDate":"2019-05-28T23:36:11Z"}},{"node":{"committedDate":"2019-05-28T22:56:27Z"}},{"node":{"committedDate":"2019-05-15T19:38:45Z"}},{"node":{"committedDate":"2019-05-15T08:02:37Z"}},{"node":{"committedDate":"2019-05-15T07:33:48Z"}},{"node":{"committedDate":"2019-05-15T03:43:06Z"}},{"node":{"committedDate":"2019-05-15T03:39:42Z"}},{"node":{"committedDate":"2019-05-14T00:05:54Z"}},{"node":{"committedDate":"2019-05-14T00:05:51Z"}},{"node":{"committedDate":"2019-05-13T23:41:21Z"}},{"node":{"committedDate":"2019-05-13T23:21:01Z"}},{"node":{"committedDate":"2019-05-13T23:14:22Z"}},{"node":{"committedDate":"2019-05-13T21:59:21Z"}},{"node":{"committedDate":"2019-05-13T21:58:03Z"}},{"node":{"committedDate":"2019-05-13T21:56:16Z"}},{"node":{"committedDate":"2019-05-13T21:49:16Z"}},{"node":{"committedDate":"2019-05-13T21:47:43Z"}},{"node":{"committedDate":"2019-05-13T21:36:19Z"}},{"node":{"committedDate":"2019-04-25T15:46:42Z"}},{"node":{"committedDate":"2019-04-25T00:24:19Z"}},{"node":{"committedDate":"2019-04-24T08:53:11Z"}}]}}},"licenseInfo":{"name":"MIT
        License"}}}}'
  recorded_at: Sun, 31 Dec 2000 23:00:00 GMT
[...]
