= form_with(url: request.path, method: :get, html: {class: 'form-inline', 'up-target' => '.results', 'up-autosubmit' => '', 'up-reveal' => 'false'}) do |form|
  = form.spec_label :query
  = form.text_field :query, value: params[:query], class: 'form-control flex-fill'
  = form.submit 'Search', class: 'btn btn-secondary ml-2'
