%p
  Wintermute should help programmers to create new web applications that can become more than just a side project. And
  help to explore already existing projects.

%p
  %br
  Check out the #{link_to('"Evaluate ideas"', ideas_path)} section where programmers can evaluate their ideas and find contributors before writing the first line of code.
  %br
  In the #{link_to('"Explore existing"', repositories_path)} section you can find already existing open source web applications on Github.

%strong Guideline

%ul
  %li Submit your idea like an Internet-Draft (Example: #{external_link_to('HTTP/2 draft', 'https://http2.github.io/http2-spec/index.html')}).
  %li Create a repository on Github and link it to Wintermute if the idea was good.
  %li Every idea should become an open source web application.
  %li Every repository should be an open source web application.
  %li There is no restriction about monetization, as long as all code is open source.
  %li Be kind.

Feel free to use the comment section of the ideas and repositories for discussions, up voting or linking.
