.about--product-intro
  %strong Wintermute
  aims to bring a wider attention to open source web applications for a better world.
  Support the platform with your ideas and projects now!
.about--product-visualization
  .about--product-visualization-outer.is-left
    Open Source
  = image_pack_tag 'media/images/wintermute-transparent.png', alt: 'Wintermute Logo', class: 'about--product-visualization-inner'
  .about--product-visualization-outer.is-right
    Web Application

%h2.about--guidelines-header Guidelines

%ul
  %li Submit your idea in the #{link_to('"Evaluate ideas"', ideas_path)} section like an Internet-Draft (Example: #{external_link_to('HTTP/2 draft', 'https://http2.github.io/http2-spec/index.html')}).
  %li Get feedback from the community and decide whether to start or cancel the idea.
  %li Implemented ideas will be listed in the hall of fame, the #{link_to('"Explore existing"', repositories_path)} section.
  %li Be kind.
