%h1 Wintermute
%p.lead Wintermute links to the most common open source web applications published on Github. It should help you to find new and alternative web services that you can use in trust as a service or host in your own infrastructure.

%figure.mt-5
  = image_pack_tag('media/images/preview-explore.png', class: 'mx-auto d-block w-75 img-thumbnail', alt: 'Screenshot of the application where a user searches for a repository')
  %figcaption.text-center Wintermute allows you to search for existing open source web applicatoins
%figure.mt-5
  = image_pack_tag('media/images/preview-contribute.png', class: 'mx-auto d-block w-75 img-thumbnail', alt: 'Screenshot of the application where a user adds a repository')
  %figcaption.text-center Signed in users can contribute
%figure.mt-5
  = image_pack_tag('media/images/preview-subscribe.png', class: 'mx-auto d-block w-75 img-thumbnail', alt: 'Screenshot of the application where a user subscripes to an idea')
  %figcaption.text-center You can subscribe to interesting discussion and get notified about updates per email
