@import '../variables'

.about--header
  padding-top: 25px
  font-size: 1.3rem
  text-transform: uppercase
  font-weight: bold

.about--faq
  dt
    color: $secondary

    &::before
      content: '> '
