---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query Project__Synchronizer__REPOSITORY_META_QUERY($owner:
        String!, $name: String!) {\n  repository(owner: $owner, name: $name) {\n    description\n    createdAt\n    homepageUrl\n    stargazers
        {\n      totalCount\n    }\n    watchers {\n      totalCount\n    }\n    issues
        {\n      totalCount\n    }\n    languages(first: 50) {\n      nodes {\n        name\n      }\n    }\n    ref(qualifiedName:
        \"master\") {\n      target {\n        __typename\n        ... on Commit {\n          history(first:
        25) {\n            edges {\n              node {\n                committedDate\n              }\n            }\n          }\n        }\n      }\n    }\n    licenseInfo
        {\n      name\n    }\n  }\n}","variables":{"owner":"github","name":"graphql-client"},"operationName":"Project__Synchronizer__REPOSITORY_META_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <GITHUB_PERSONAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1557674333'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"description":"A Ruby library for declaring,
        composing and executing GraphQL queries","createdAt":"2016-08-03T18:51:26Z","homepageUrl":"","stargazers":{"totalCount":728},"watchers":{"totalCount":50},"issues":{"totalCount":96},"languages":{"nodes":[{"name":"Ruby"},{"name":"HTML"}]},"ref":{"target":{"__typename":"Commit","history":{"edges":[{"node":{"committedDate":"2019-02-28T15:35:03Z"}},{"node":{"committedDate":"2019-02-13T00:55:11Z"}},{"node":{"committedDate":"2019-02-13T00:50:22Z"}},{"node":{"committedDate":"2019-02-13T00:48:41Z"}},{"node":{"committedDate":"2019-02-13T00:47:33Z"}},{"node":{"committedDate":"2018-12-14T13:50:41Z"}},{"node":{"committedDate":"2018-12-13T22:02:06Z"}},{"node":{"committedDate":"2018-12-13T21:11:27Z"}},{"node":{"committedDate":"2018-12-13T20:33:04Z"}},{"node":{"committedDate":"2018-12-13T15:35:09Z"}},{"node":{"committedDate":"2018-12-13T14:55:39Z"}},{"node":{"committedDate":"2018-10-25T18:50:38Z"}},{"node":{"committedDate":"2018-10-25T18:45:32Z"}},{"node":{"committedDate":"2018-10-15T20:47:59Z"}},{"node":{"committedDate":"2018-10-15T19:49:10Z"}},{"node":{"committedDate":"2018-10-15T19:36:53Z"}},{"node":{"committedDate":"2018-10-15T19:01:52Z"}},{"node":{"committedDate":"2018-08-20T20:02:42Z"}},{"node":{"committedDate":"2018-08-13T17:20:02Z"}},{"node":{"committedDate":"2018-08-12T01:19:53Z"}},{"node":{"committedDate":"2018-08-12T00:17:04Z"}},{"node":{"committedDate":"2018-07-16T21:18:13Z"}},{"node":{"committedDate":"2018-07-16T21:17:54Z"}},{"node":{"committedDate":"2018-07-16T21:16:35Z"}},{"node":{"committedDate":"2018-07-16T21:13:05Z"}}]}}},"licenseInfo":{"name":"MIT
        License"}}}}'
  recorded_at: Sun, 12 May 2019 14:18:53 GMT
recorded_with: VCR 4.0.0
