.d-flex.mb-3
  .mr-auto
    %h1
      Wintermute
      %small.text-muted Pitch and find open-source web applications
  - if signed_in?
    = link_to 'Sign out', sign_out_path, method: :delete, class: 'btn btn-outline-secondary'
  - else
    = link_to 'Sign in', sign_in_path, class: 'btn btn-outline-secondary'
